{% extends "base_overlay.html.twig" %}


{% block body %}


	{% if widgets is not empty %}
		{% for widget in widgets %}
			{# {% if widget.WidgetId and widget.WidgetId == "cam_tournament_alpha" or widget.WidgetId.libWidgetId and widget.WidgetId.libWidgetId == "cam_tournament_alpha" %}
																																																		{{ include('overlay/widgets/cams/team_alpha.html.twig') }}
																																																	{% endif %}
																																																	{% if widget.WidgetId and widget.WidgetId == "cam_tournament_beta" or widget.WidgetId.libWidgetId and widget.WidgetId.libWidgetId == "cam_tournament_beta" %}
																																																		{{ include('overlay/widgets/cams/team_beta.html.twig') }}
																																																	{% endif %} #}
			{% if widget.WidgetId and widget.WidgetId == "topbar" or widget.WidgetId.libWidgetId and widget.WidgetId.libWidgetId == "topbar" %}
				{{ include('overlay/widgets/topbar/v1.html.twig') }}
			{% endif %}
			{% if widget.WidgetId and widget.WidgetId == "versus" or widget.WidgetId.libWidgetId and widget.WidgetId.libWidgetId == "versus" %}
				{{ include('overlay/widgets/versus/v1.html.twig') }}
			{% endif %}
			{% if widget.WidgetId and widget.WidgetId == "popup_text" or widget.WidgetId.libWidgetId and widget.WidgetId.libWidgetId == "popup_text" %}
				{{ include('overlay/widgets/popup/small_txt.html.twig') }}
			{% endif %}
			{% if widget.WidgetId and widget.WidgetId == "next" or widget.WidgetId.libWidgetId and widget.WidgetId.libWidgetId == "next" %}
				{{ include('overlay/widgets/next/v1.html.twig') }}
			{% endif %}
			{% if widget.WidgetId and widget.WidgetId == "tweets" or widget.WidgetId.libWidgetId and widget.WidgetId.libWidgetId == "tweets" %}
				{{ include('overlay/widgets/tweets/index.html.twig') }}
			{% endif %}
		{% endfor %}

	{% else %}
		<h1>Aucun widget n'a été inséré sur l'overlay</h1>

		<p>Si vous êtes le propriétaire de cet overlay où que vous y avez accès, vous devez commencer par ajouter un widget afin qu'il puisse être visible sur cet overlay.</p>
	{% endif %}

{% endblock %}
