{% extends 'base.html.twig' %}

{% block title %}Editer le widget "{{overlay.widgetName is defined ? overlay.widgetName : ""}}"
{% endblock %}

{% block body %}
	<h1>Vous éditez le widget :
		{{overlay.widgetName is defined ? overlay.widgetName : ""}}</h1>


	{{ include('overlay/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	<a class="btn btn-dark" href="{{ path('app_overlay_index') }}">
		<span class="iconify" data-icon="akar-icons:arrow-back-thick"></span>
		Retour à la liste</a>

	{{ include('overlay/_delete_form.html.twig') }}
{% endblock %}
