{% extends 'base.html.twig' %}

{% block title %}Player index
{% endblock %}

{% block body %}
	<h1>Player index</h1>

	<table id="playerList" class="display">
		<thead>
			<tr>
				<th>Id</th>
				<th>ID OBS</th>
				<th>PlayerName</th>
				<th>PlayerAvatar</th>
				<th>PlayerUplay</th>
				<th>PlayerAtTwitter</th>
				<th>PlayerDiscord</th>
				<th>PlayerTwitch</th>
				<th>PlayerStudentSA</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for player in players %}
				<tr>
					<td>{{ player.id }}</td>
					<td>
						{% if player.playerIdOBSNinja %}
							{{player.playerIdOBSNinja}}
						{% endif %}
					</td>
					<td>{{ player.playerAvatar }}</td>
					<td>{{ player.playerUplay }}</td>
					<td>{{ player.playerAtTwitter }}</td>
					<td>{{ player.playerDiscord }}</td>
					<td>{{ player.playerTwitch }}</td>
					<td>{{ player.playerStudentSA ? 'Yes' : 'No' }}</td>
					<td>
						<a href="{{ path('app_player_show', {'id': player.id}) }}">show</a>
						<a href="{{ path('app_player_edit', {'id': player.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-info" href="{{ path('app_player_new') }}"><span class="iconify" data-icon="akar-icons:circle-plus-fill"></span> Créer un nouveau joueur</a>
{% endblock %}
