{% extends 'base.html.twig' %}

{% block title %}Player
{% endblock %}

{% block body %}
	<h1>Player</h1>

	<tableclass="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ player.id }}</td>
			</tr>
			<tr>
				<th>Id OBS NINJA</th>
				<td>{
					{% if {{ player.playerIdOBSNinja }} %}
						{{ player.playerIdOBSNinja }}
					{% endif %}}</td>
			</tr>
			<tr>
				<th>PlayerName</th>
				<td>{{ player.playerName }}</td>
			</tr>
			<tr>
				<th>PlayerAvatar</th>
				<td>{{ player.playerAvatar }}</td>
			</tr>
			<tr>
				<th>PlayerUplay</th>
				<td>{{ player.playerUplay }}</td>
			</tr>
			<tr>
				<th>PlayerAtTwitter</th>
				<td>{{ player.playerAtTwitter }}</td>
			</tr>
			<tr>
				<th>PlayerDiscord</th>
				<td>{{ player.playerDiscord }}</td>
			</tr>
			<tr>
				<th>PlayerTwitch</th>
				<td>{{ player.playerTwitch }}</td>
			</tr>
			<tr>
				<th>PlayerStudentSA</th>
				<td>{{ player.playerStudentSA ? 'Yes' : 'No' }}</td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-dark" href="{{ path('app_player_index') }}">
		<span class="iconify" data-icon="akar-icons:arrow-back-thick"></span>
		Retour à la liste</a>

	<a class="btn btn-light" href="{{ path('app_player_edit', {'id': player.id}) }}">
		<span class="iconify" data-icon="akar-icons:edit"></span>
		Editer</a>

	{{ include('player/_delete_form.html.twig') }}
{% endblock %}
