{% extends 'base.html.twig' %}

{% block title %}Team index
{% endblock %}

{% block body %}
	<h1>Team index</h1>

	<table id="teamList" class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>TeamName</th>
				<th>TeamLogo</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for team in teams %}
				<tr>
					<td>{{ team.id }}</td>
					<td>{{ team.teamName }}</td>
					<td>{{ team.teamLogo }}</td>
					<td>
						<a href="{{ path('app_team_show', {'id': team.id}) }}">show</a>
						<a href="{{ path('app_team_edit', {'id': team.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-info" href="{{ path('app_team_new') }}">
		<span class="iconify" data-icon="akar-icons:circle-plus-fill"></span>
		Créer une nouvelle équipe</a>
{% endblock %}
