{% extends 'base.html.twig' %}

{% block title %}Détail de l'équipe "{{team.teamName is defined ? team.teamName : ""}}"
{% endblock %}

{% block body %}
	<h1>Détail de l'équipe "{{team.teamName is defined ? team.teamName : ""}}"</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ team.id }}</td>
			</tr>
			<tr>
				<th>Nom de l'équipe</th>
				<td>{{ team.teamName }}</td>
			</tr>
			<tr>
				<th>TeamLogo</th>
				<td>
					<a href="{{ team.teamLogo }}" target="_blank"><img style="width: 40%" src="{{ asset('uploads/logos/' ~ team.teamLogo) }}" alt="Logo de {{ team.teamName }}"></a>
				</td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-dark" href="{{ path('app_team_index') }}">
		<span class="iconify" data-icon="akar-icons:arrow-back-thick"></span>
		Retour à la liste</a>

	<a href="{{ path('app_team_edit', {'id': team.id}) }}">
		<span class="iconify" data-icon="akar-icons:edit"></span>
		Editer</a>

	{{ include('team/_delete_form.html.twig') }}
{% endblock %}
