{{ form_start(form) }}

{% if form_errors(form) %}
	<div class="alert alert-danger" role="alert">
		{{ form_errors(form) }}
	</div>
{% endif %}

<div class="input-grp">
	<h3>
		Identité de votre événement
	</h3>
	<p>
		Il est important de fournir une identité complète à votre événement afin qu'il puissent être utilisé à travers toutes les fonctionnalités qu'on proprose sur notre plateforme.
	</p>
	<div class="row">
		<div class="col">
			<div class="form-floating mb-3">
				{{ form_widget(form.eventName, {
                    'attr': {'class': 'form-control'},
                    'id': "eventName",
                    }) }}
				{{ form_label(form.eventName, null, {
                'label': 'Définissez un nom pour l\'événement',
                'id': 'eventName'
                    }) }}
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                {{ form_widget(form.eventLogo, {
                    'attr': {'class': 'form-control'},
                    'id': "eventLogo",
                    }) }}
                {{ form_label(form.eventLogo, null, {
                'label': 'Définir un logo',
                'id': 'eventLogo'
                    }) }}
            </div>
        </div>
    </div>
</div>



<div class="input-grp-center">
    <h3>De quoi s'agit-il ?</h3>
    <p>Définissez l'édition de votre événement parmis la liste.</p>
    <p><u>Si une édition n'apparait pas, veuillez nous en faire la demande.</u></p>
    <div class="form-floating mb-3">
        {{ form_widget(form.eventEdition, {
            'attr': {'class': 'form-select'},
            'id': "eventEdition",
            }) }}
				{{ form_label(form.eventEdition, null, {
        'label': 'Sélectionnez une édition',
        'id': 'eventEdition'
            }) }}
			</div>
		</div>

		<div class="input-grp">
			<h3>
				Informations complémentaires
			</h3>
			<p>
				Veuillez nous renseigner un maximum d'informations autour de votre événement afin qu'il puisse profiter pleinement de toutes nos fonctionnalités sur la plateforme.
			</p>
			<div class="row">
				<div class="col">
					<div class="form-floating mb-3">
						{{ form_widget(form.eventHashtag, {
            'attr': {'class': 'form-control'},
            'id': "eventHashtag",
            }) }}
						{{ form_label(form.eventHashtag, null, {
        'label': 'Définir le hashtag',
        'id': 'eventHashtag'
            }) }}
					</div>
					<div>
						{{ form_widget(form.eventStartDate, {
        'attr': {'class': 'form-control'},
        'id': "eventStartDate",
        }) }}
						{{ form_label(form.eventStartDate, null, {
    'label': 'Définir la date de départ',
    'id': 'eventStartDate'
        }) }}
					</div>
					<div class="form-floating mb-3">
						{{ form_widget(form.eventFormat, {
            'attr': {'class': 'form-select'},
            'id': "eventFormat",
            }) }}
						{{ form_label(form.eventFormat, null, {
        'label': 'Sélectionnez un format',
        'id': 'eventFormat'
            }) }}
					</div>
				</div>
				<div class="col">
					<div class="form-floating mb-3">
						{{ form_widget(form.eventCashprize, {
        'attr': {'class': 'form-control'},
        'id': "eventCashprize",
        }) }}
						{{ form_label(form.eventCashprize, null, {
    'label': 'Définir le cashprize',
    'id': 'eventCashprize'
        }) }}
					</div>
					<div class="form-error">
						{{ form_errors(form.eventCashprize) }}
					</div>
					<div>
						{{ form_widget(form.eventEndDate, {
        'attr': {'class': 'form-control input-inline datetimepicker'},
        'id': "eventEndDate",
        }) }}
						{{ form_label(form.eventEndDate, null, {
    'label': 'Définir la date de fin',
    'id': 'eventEndDate'
        }) }}
					</div>
					<div class="form-floating mb-3">
						{{ form_widget(form.eventSlots, {
        'attr': {'class': 'form-control'},
        'id': "eventSlots",
        }) }}
						{{ form_label(form.eventSlots, null, {
    'label': 'Définir le nombre de participants',
    'id': 'eventSlots'
        }) }}
					</div>
				</div>
			</div>
		</div>

		<div class="input-grp-center">
			<h3>
				Associer à un overlay
			</h3>
			<p>
				Si vous voulez associer cet événement à un overlay que vous possédez ou que vous gérez, vous devez donc sélectionner l'overlay parmi la liste ci-dessous.
			</p>
			<div class="form-floating mb-3">
				{{ form_widget(form.overlayId, {
			        'attr': {'class': 'form-select'},
			        'id': "overlayId",
			        }) }}
				{{ form_label(form.overlayId, null, {
			    'label': 'Associer à un overlay',
			    'id': 'overlayId'
			        }) }}
			</div>
		</div>


		<div class="input-grp">
			<h3>
				Sponsors
			</h3>
			<p>
				Votre événement possède des sponsors et vous souhaitez les afficher ? Sélectionnez les à partir de la liste ci-dessous.
			</p>
			<p>
				<u>
					Si un sponsor n'apparait pas, merci de nous en faire la demande.
				</u>
			</p>
			<div class="form-floating mb-3">
				{{ form_widget(form.eventIdSponsor, {
                'attr': {'class': 'form-select'},
                'id': "eventIdSponsor",
                }) }}
				{{ form_label(form.eventIdSponsor, null, {
            'label': 'Sélectionnez des sponsors',
            'id': 'eventIdSponsor'
                }) }}
			</div>
		</div>

		<div class="input-grp">
			<h3>
				Réseaux sociaux
			</h3>
			<p>
				Votre événement possède des réseaux sociaux et vous souhaitez les afficher ? Sélectionnez les à partir de la liste ci-dessous.
			</p>
			<p>
				<u>
					Si un réseau social n'apparait pas, merci de nous en faire la demande.
				</u>
			</p>
			<div class="form-floating mb-3">
				{{ form_widget(form.socials, {
                'attr': {'class': 'form-select'},
                'id': "socials",
                }) }}
				{{ form_label(form.socials, null, {
            'label': 'Sélectionnez vos réseaux',
            'id': 'socials'
                }) }}
			</div>
		</div>

		{{ form_label(form.userId, null, {
    'label_attr': {'class': 'display_none'},
    }) }}
		{{ form_widget(form.userId, {
        'attr': {
            'class': 'display_none',
            },
        }) }}

		<button class="btn btn-success">
			<span class="iconify" data-icon="fluent:save-arrow-right-20-filled"></span>
			{{ button_label|default('Créer cet événement') }}
		</button>
		{{ form_end(form) }}
