{% extends 'base.html.twig' %}

{% block title %}Liste des événements
{% endblock %}

{% block body %}
	<h1>Liste des événements</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Edition</th>
				<th>Logo</th>
				<th>Hashtag</th>
				<th>Cashprize</th>
				<th>Début</th>
				<th>Fin</th>
				<th colspan="2" style="text-align: center">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for event in events %}
				<tr>
					<td>{{ event.id }}</td>
					<td>{{ event.eventName }}</td>
					<td>
						<span class="badge bg-info" style="color: #212529">{{ event.eventEdition }}</span>
					</td>
					<td>
						<a href="{{ event.eventLogo }}" target="_blank"><img style="width: 40%" src="{{ event.eventLogo != null ? event.eventLogo : 'https://cdn.artaic.fr/images/Blason-Salty.png' }}" alt="Logo de {{ event.eventName }}"></a>
					</td>
					<td>{{ event.eventHashtag }}</td>
					<td>
						<span class="badge bg-info" style="color: #212529">{{ event.eventCashprize }}</span>
					</td>
					<td>
						{% if "now"|date_modify("+1 day")|date("m/d/Y") == event.eventStartDate|date('m/d/Y') %}
							<span class="badge bg-warning pulsate-bck">Demain</span>
						{% endif %}
						{% if "now"|date_modify("-1 day")|date("m/d/Y") == event.eventStartDate|date('m/d/Y') %}
							<span class="badge bg-light">Hier</span>
						{% endif %}
						{% if "now"|date_modify("-1 day")|date("m/d/Y") != event.eventStartDate|date('m/d/Y') and "now"|date_modify("+1 day")|date("m/d/Y") != event.eventStartDate|date('m/d/Y') %}
							<span class="badge bg-light" style="color: #212529">{{ event.eventStartDate ? event.eventStartDate|date('d/m H:i') : '' }}</span>
						{% endif %}
					</td>
					<td>
						<span class="badge bg-dark">{{ event.eventEndDate ? event.eventEndDate|date('d/m H:i') : '' }}</span>
					</td>
					<td>
						<a class="btn btn-info" href="{{ path('app_event_show', {'id': event.id}) }}">
							<span class="iconify" data-icon="carbon:view-filled"></span>
							Détails</a>
						<a class="btn btn-warning" href="{{ path('app_event_edit', {'id': event.id}) }}">
							<span class="iconify" data-icon="bxs:edit"></span>
							Editer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">Rien n'a été trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class="btn btn-info" href="{{ path('app_event_new') }}">
		<span class="iconify" data-icon="akar-icons:circle-plus-fill"></span>Créer un nouvel événement</a>
{% endblock %}
