{% extends 'base.html.twig' %}

{% block title %}Détails de l'évent "{{event.eventName is defined ? event.eventName : ""}}"
{% endblock %}

{% block body %}
	<h1>Détails de l'évent "{{event.eventName is defined ? event.eventName : ""}}"</h1>

	<table class="table">
		<tbody>
		{% if is_granted('ROLE_ADMIN') %}
			<tr>
				<th>Id</th>
				<td>{{ event.id }}</td>
			</tr>
			{% endif %}
			<tr>
				<th>Nom</th>
				<td>{{ event.eventName }}</td>
			</tr>
			<tr>
				<th>Edition</th>
				<td>{{ event.eventEdition }}</td>
			</tr>
			<tr>
				<th>Logo</th>
				<td>{{ event.eventLogo }}</td>
			</tr>
			<tr>
				<th>Hashtag</th>
				<td>{{ event.eventHashtag }}</td>
			</tr>
			<tr>
				<th>Cashprize</th>
				<td>{{ event.eventCashprize }}</td>
			</tr>
			<tr>
				<th>Début</th>
				<td>{{ event.eventStartDate ? event.eventStartDate|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Fin</th>
				<td>{{ event.eventEndDate ? event.eventEndDate|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-dark" href="{{ path('app_event_index') }}"><span class="iconify" data-icon="akar-icons:arrow-back-thick"></span> Retour en arrière</a>

	<a class="btn btn-light" href="{{ path('app_event_edit', {'id': event.id}) }}"><span class="iconify" data-icon="akar-icons:edit"></span> Editer l'événement</a>

	{{ include('event/_delete_form.html.twig') }}
{% endblock %}
