{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>Event</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>EventName</th>
                <td>{{ event.eventName }}</td>
            </tr>
            <tr>
                <th>EventEdition</th>
                <td>{{ event.eventEdition }}</td>
            </tr>
            <tr>
                <th>EventLogo</th>
                <td>{{ event.eventLogo }}</td>
            </tr>
            <tr>
                <th>EventHashtag</th>
                <td>{{ event.eventHashtag }}</td>
            </tr>
            <tr>
                <th>EventCashprize</th>
                <td>{{ event.eventCashprize }}</td>
            </tr>
            <tr>
                <th>EventCurrentPhase</th>
                <td>{{ event.eventCurrentPhase }}</td>
            </tr>
            <tr>
                <th>EventStartDate</th>
                <td>{{ event.eventStartDate ? event.eventStartDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EventEndDate</th>
                <td>{{ event.eventEndDate ? event.eventEndDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_event_index') }}">back to list</a>

    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
