{% if widget.WidgetId == "next" or  widget.WidgetId.libWidgetId == "next"  %}
	<section id="nextmatch">
		<div id="next_teams" class="{{widget.WidgetVisible ? "teams" : "display_none"}}">
			<span id="nextmatch_team_a">
				{{game is defined ? game.gameIdTeamAlpha.teamName|slice(0,5)|replace({' ': ''})|upper : "TBD" }}
			</span>
			<span id="vs">
				VS
			</span>
			<span id="nextmatch_team_b">
				{{game is defined ? game.gameIdTeamBeta.teamName|slice(0,5)|replace({' ': ''})|upper : "TBD" }}
			</span>
		</div>
		<div id="next_text" class="{{widget.WidgetVisible ? "text" : "display_none"}}">
			<span class="nextmatch_next" id="nextmatch_heure">
				{{game is defined ? game.gameStartDate|date("H:i") : "SOON" }}
			</span>
		</div>
	</section>
{% endif %}
