{{ form_start(form) }}

{% if form_errors(form) %}
	<div class="alert alert-danger" role="alert">
		{{ form_errors(form) }}
	</div>
{% endif %}

<div class="input-grp-center">
	<h3>Nom de la carte</h3>
	<p>Renseignez le nom de la carte.</p>
	<div class="form-floating mb-3">
		{{ form_widget(form.mapName, {
        'attr': {'class': 'form-control'},
        'id': "mapName",
        }) }}
		{{ form_label(form.mapName, null, {
    'label': 'Définissez le nom de la carte',
    'id': 'mapName'
        }) }}
	</div>
</div>

<div class="input-grp">
	<h3>Une image pour la carte ?</h3>
	<p>Si vous avez une image pour la carte, vous pouvez la définir ici.</p>
	<div class="form-floating mb-3">
		{{ form_widget(form.mapImg, {
            'attr': {'class': 'form-control'},
            'id': "mapImg",
            }) }}
		{{ form_label(form.mapImg, null, {
        'label': 'Définissez l\'image de la carte',
        'id': 'mapImg'
            }) }}
		</div>
</div>

<button class="btn btn-success">
	<span class="iconify" data-icon="fluent:save-arrow-right-20-filled"></span>
	{{ button_label|default('Créer la carte') }}</button>
{{ form_end(form) }}
