{% extends 'base.html.twig' %}

{% block title %}Editer la carte "{{map.mapName is defined ? map.mapName : ""}}"
{% endblock %}

{% block body %}
	<h1>Vous éditez la carte :
		{{map.mapName is defined ? map.mapName : ""}}</h1>

	{{ include('map/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	<a class="btn btn-dark" href="{{ path('app_map_index') }}">
		<span class="iconify" data-icon="akar-icons:arrow-back-thick"></span>
		Retour à la liste</a>

	{{ include('map/_delete_form.html.twig') }}
{% endblock %}
