{% extends 'base.html.twig' %}

{% block title %}Liste des cartes
{% endblock %}

{% block body %}
	<h1>Liste des cartes</h1>

	<table id="mapList" class="table">
		<thead>
			<tr>
				{% if is_granted('ROLE_ADMIN') %}
					<th>Id</th>
				{% endif %}
				<th>Nom</th>
				<th>Image</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for map in maps %}
				<tr>
					{% if is_granted('ROLE_ADMIN') %}
						<td>{{ map.id }}</td>
					{% endif %}
					<td>{{ map.mapName }}</td>
					<td><a href="{{ map.mapImg }}" target="_blank"><img style="width: 40%" src="{{ asset('uploads/maps/' ~ map.mapImg) }}" alt="Logo de {{ map.mapName }}"></a></td>
					<td>
						<a class="btn btn-info" href="{{ path('app_map_show', {'id': map.id}) }}">
							<span class="iconify" data-icon="carbon:view-filled"></span>Détails</a>
						<a class="btn btn-warning" href="{{ path('app_map_edit', {'id': map.id}) }}">
							<span class="iconify" data-icon="bxs:edit"></span>Editer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucune carte n'a été créée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-info" href="{{ path('app_map_new') }}">
		<span class="iconify" data-icon="akar-icons:circle-plus-fill"></span>
		Ajouter une carte</a>
{% endblock %}
