{% extends 'base.html.twig' %}

{% block title %}Map index
{% endblock %}

{% block body %}
	<h1>Map index</h1>

	<table id="mapList" class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>MapName</th>
				<th>MapImg</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for map in maps %}
				<tr>
					<td>{{ map.id }}</td>
					<td>{{ map.mapName }}</td>
					<td>{{ map.mapImg }}</td>
					<td>
						<a href="{{ path('app_map_show', {'id': map.id}) }}">show</a>
						<a href="{{ path('app_map_edit', {'id': map.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-info" href="{{ path('app_map_new') }}">
		<span class="iconify" data-icon="akar-icons:circle-plus-fill"></span>
		Ajouter une carte</a>
{% endblock %}
