{% if widget.WidgetId and widget.WidgetId == "topbar" or widget.WidgetId.libWidgetId and widget.WidgetId.libWidgetId == "topbar" %}
	<section id="topbar" class="{{widget.WidgetVisible ? "" : "display_none"}}">
		<div class="lambda">
			<section id="display">
				{% if event_service.getOneCurrentEvent %}
					{{event_service.getOneCurrentEvent[0].eventEdition}}
				{% else %}
					Streamcave
				{% endif %}
			</section>
		</div>
		<div
			class="name_event">
			{# TODO: Mettre une valeur dynamique #}
			<span class="hashtag">#</span>
			{% if event_service.getOneCurrentEvent %}
				{{event_service.getOneCurrentEvent[0].eventHashtag|slice(1)}}
			{% else %}
				Streamcave
			{% endif %}

		</div>
		<div class="scorea" id="scorea">{{game_service.getOneCurrentGame[0].gameScoreTeamAlpha}}</div>
		<div id="topbar_team_a" class="teama">{{game_service.getOneCurrentGame[0].gameIdTeamAlpha|slice(0,5)|replace({' ': ''})  }}</div>
		<div class="vs"></div>
		{% if event_service.getOneCurrentEvent %}
			<div class="logo"><img src="{{ event_service.getOneCurrentEvent[0].eventLogo != null ? event_service.getOneCurrentEvent[0].eventLogo : 'https://cdn.artaic.fr/images/Blason-Salty.png' }}" alt="Logo de l'event"></div>
		{% else %}
			<div class="logo"><img src="https://cdn.artaic.fr/images/Blason-Salty.png" alt="Logo de l'event"></div>
		{% endif %}
		<div id="topbar_team_b" class="teamb">{{game_service.getOneCurrentGame[0].gameIdTeamBeta|slice(0,5)|replace({' ': ''})   }}</div>
		<div class="scoreb" id="scoreb">{{game_service.getOneCurrentGame[0].gameScoreTeamBeta}}</div>
		<div class="carte">
			<span class="yellow">Map :</span>
			<span id="currentmap">{{game_service.getOneCurrentGame[0].gameIdMaps.snapshot[0].mapName}}<span></div>
				<div id="slider">
					<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner">
							{% if event_service.getOneCurrentEvent %}
								<div class="carousel-item active" id="img_slider">
									<img src="https://cdn.artaic.fr/stream_cave/img/logo_streamcave.svg" class="d-block w-100" alt="Logo de StreamCave">
								</div>
								{% if event_service.getOneCurrentEvent[0].eventEdition != "HER6S" %}
									{% for sponsor in event_service.getOneCurrentEvent[0].eventIdSponsor %}
										<div class="carousel-item" id="img_slider">
											<img src="{{sponsor.sponsorLogo}}" class="d-block w-100" alt="Logo de {{sponsor.sponsorName}}">
										</div>
									{% endfor %}
								{% endif %}
								{% for social in event_service.getOneCurrentEvent[0].socials %}
									<div class="carousel-item">
										<span id="text_slider" class="text_slider">
											<span class="iconify" data-icon="{{social.socialLib.libSocialLogo}}"></span>
											{{social.socialTag}}
										</span>
									</div>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endif %}
