{% set array = [] %}

{# INFO: Faire un for avec playersAlpha pour afficher les cams #}
{% for player in playersAlpha %}
	{% set array = array|merge([player.playerIdObsNinja]) %}
{% endfor %}


{% if widget.WidgetId and widget.WidgetId == "cameras_alpha" or widget.WidgetId.libWidgetId2 and widget.WidgetId.libWidgetId2 == "cameras_beta" and widget.isTwoWidgets %}
	<section id="cameras_alpha" class="{{widget.WidgetVisible == 1 ? "" : "display_none"}}">
		<div class="container_cam">
			<div class="left">
				<iframe id="cam_1" src="{{ array[0] is defined ? 'https://live.artaic.fr/?view=' ~ array[0] ~ '&mutespeaker' : 'https://live.artaic.fr/?view=test' }}" frameborder="0"></iframe>
				<iframe id="cam_2" src="{{ array[1] is defined ? 'https://live.artaic.fr/?view=' ~ array[1] ~ '&mutespeaker' : 'https://live.artaic.fr/?view=test' }}" frameborder="0"></iframe>
			</div>
			<div class="center">
				<iframe id="cam_3" src="{{ array[2] is defined ? 'https://live.artaic.fr/?view=' ~ array[2] ~ '&mutespeaker' : 'https://live.artaic.fr/?view=test' }}" frameborder="0"></iframe>
			</div>
			<div class="right">
				<iframe id="cam_4" src="{{ array[3] is defined ? 'https://live.artaic.fr/?view=' ~ array[3] ~ '&mutespeaker' : 'https://live.artaic.fr/?view=test' }}" frameborder="0"></iframe>
				<iframe id="cam_5" src="{{ array[4] is defined ? 'https://live.artaic.fr/?view=' ~ array[4] ~ '&mutespeaker' : 'https://live.artaic.fr/?view=test' }}" frameborder="0"></iframe>
			</div>
		</div>
	</section>
{% endif %}
