{% extends 'base.html.twig' %}

{% block title %}Maps{% endblock %}

{% block body %}
    <h1>Maps</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ map.id }}</td>
            </tr>
            <tr>
                <th>MapName</th>
                <td>{{ map.mapName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_maps_index') }}">back to list</a>

    <a href="{{ path('app_maps_edit', {'id': map.id}) }}">edit</a>

    {{ include('maps/_delete_form.html.twig') }}
{% endblock %}
