{% extends 'base.html.twig' %}

{% block title %}Editer le Widget "{{widget.WidgetName is defined ? widget.WidgetName : ""}}"{% endblock %}

{% block body %}
    <h1>Editer le Widget "{{widget.WidgetName is defined ? widget.WidgetName : ""}}"</h1>

    {{ include('overlay/widgets/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {% if app.request.get('id_overlay') is defined and app.request.get('id_overlay') is not empty %}
    {% set id_overlay = app.request.get('id_overlay') %}
	<a class="btn btn-dark" href="{{ path('app_overlay_show', {'id': id_overlay}) }}"><span class="iconify" data-icon="akar-icons:arrow-back-thick"></span> Retour au panel</a>
    {% else %}
	<a class="btn btn-dark" href="{{ path('app_overlay_index') }}"><span class="iconify" data-icon="akar-icons:arrow-back-thick"></span> Retour à la liste</a>
    {% endif %}


    {{ include('overlay/widgets/_delete_form.html.twig') }}
{% endblock %}
