{% extends 'base.html.twig' %}

{% block title %}Meta index{% endblock %}

{% block body %}
    <h1>Meta index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>MetaKey</th>
                <th>MetaValue</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for metum in metas %}
            <tr>
                <td>{{ metum.id }}</td>
                <td>{{ metum.MetaKey }}</td>
                <td>{{ metum.MetaValue }}</td>
                <td>
                    <a href="{{ path('app_meta_show', {'id': metum.id}) }}">show</a>
                    <a href="{{ path('app_meta_edit', {'id': metum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_meta_new') }}">Create new</a>
{% endblock %}
