{% extends 'base.html.twig' %}

{% block title %}Meta{% endblock %}

{% block body %}
    <h1>Meta</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ metum.id }}</td>
            </tr>
            <tr>
                <th>MetaKey</th>
                <td>{{ metum.MetaKey }}</td>
            </tr>
            <tr>
                <th>MetaValue</th>
                <td>{{ metum.MetaValue }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_meta_index') }}">back to list</a>

    <a href="{{ path('app_meta_edit', {'id': metum.id}) }}">edit</a>

    {{ include('meta/_delete_form.html.twig') }}
{% endblock %}
