<!-- Modal DataTables Tweets -->
						<div class="modal fade bd-example-modal-xl" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-xl" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Tweets du #...</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body" id="tweets_block">
										<table id="data_tweets" class="display">
											<thead>
												<tr>
													<th>Avatar</th>
													<th>Pseudo</th>
													<th>@Twitter</th>
													<th>Contenu</th>
													<th>Media</th>
												</tr>
											</thead>
											<tbody id="tweets_data">
												{% if data_tweets is defined %}
													{% for d_tweets in data_tweets %}
														<tr>
															<td>
																<div style="width: 80%"><img style="width: 100%;" src="{{d_tweets.avatarurl}}" alt="Avatar"></div>
															</td>
															<td>{{d_tweets.pseudo}}</td>
															<td>
																<a href="https://twitter.com/{{d_tweets.affichage}}" target="blank">@{{d_tweets.affichage}}</a>
															</td>
															<td>
																<p>{{d_tweets.texte}}</p>
															</td>
															<td>
																{% if d_tweets.madiaurl != 'undefined' %}
																	<div style="width: 100%"><img style="width: 100%;" src="{{d_tweets.madiaurl}}" alt="Media du Tweet"></div>
																{% endif %}
															</td>
														</tr>
													{% endfor %}
												{% endif %}
											</tbody>
										</table>
									</div>
									<div class="modal-footer"></div>
								</div>
							</div>
						</div>