<aside id="rightbar">
	<div class="container">
		<div class="top">
			<h2>Widgets</h2>
			<div class="notification">
				<span class="iconify" data-icon="clarity:notification-solid"></span>
			</div>
		</div>

		<pre>
			{{ dump(widgets) }}
		</pre>
		<div class="content">
			{% for card in widgets %}
				{% if card.WidgetIdBeta != null %}
					{# Switch à 3 états #}
					{% block card_widget_bars %}
						<div class="card_rightbar">
							<a href="#" class="content">
								<div class="left">
									<div class="switch-toggle switch-3 switch-candy">

										<input id="show_{{card.WidgetIdAlpha}}" name="{{card.WidgetIdAlpha}}" type="radio" checked=""/>
										<label for="show_{{card.WidgetIdAlpha}}" onclick="change('show_{{card.WidgetIdAlpha}}')">{{card.WidgetIdAlpha  | slice(0, 5)}}</label>

										<input id="off_{{card.WidgetIdAlpha}}_{{card.WidgetIdBeta}}" name="{{card.WidgetIdAlpha}}" class="off" type="radio" checked="checked"/>
										<label for="off_{{card.WidgetIdAlpha}}_{{card.WidgetIdBeta}}" class="disabled" onclick="change('off_{{card.WidgetIdAlpha}}_{{card.WidgetIdBeta}}')">OFF</label>

										<input id="show_{{card.WidgetIdBeta}}" name="{{card.WidgetIdAlpha}}" type="radio"/>
										<label for="show_{{card.WidgetIdBeta}}" onclick="change('show_{{card.WidgetIdBeta}}')">{{card.WidgetIdBeta  | slice(0, 5)}}</label>
									</div>
								</div>
								<div class="right">
									<div class="barre"></div>
									<div class="details">
										<span>Widgets</span>
										<span>{{card.widgetName | slice(0, 13) }}</span>
									</div>
								</div>
							</a>
						</div>
					{% endblock %}
				{% else %}
					{# Switch à 2 etats #}
					{% block card_widget_next %}
						<div class="card_rightbar">
							<a href="#" class="content">
								<div class="left">
									<div class="switch-toggle switch-3 switch-candy">
											<input id="show_{{card.WidgetIdAlpha}}" name="{{card.WidgetIdAlpha}}" type="radio" checked=""/>
											<label for="show_{{card.WidgetIdAlpha}}" onclick="change('show_{{card.WidgetIdAlpha}}')">ON</label>

											<input id="off_{{card.WidgetIdAlpha}}" class="off" name="{{card.WidgetIdAlpha}}" type="radio" checked="checked"/>
											<label for="off_{{card.WidgetIdAlpha}}" class="disabled" onclick="change('off_{{card.WidgetIdAlpha}}')">OFF</label>
									</div>
								</div>
								<div class="right">
									<div class="barre"></div>
									<div class="details">
										<span>Widgets</span>
										<span>{{card.widgetName}}</span>
									</div>
								</div>
							</a>
						</div>
					{% endblock %}
				{% endif %}

			{% endfor %}
		</div>
	</div>
</aside>
