{{ form_start(form) }}

{% if form_errors(form) %}
	<div class="alert alert-danger" role="alert">
		{{ form_errors(form) }}
	</div>
{% endif %}

<div class="row">
	<div class="col">
		<div class="form-floating mb-3">
			{{ form_widget(form.metaKey, {
        'attr': {'class': 'form-control'},
        'id': "metaKey",
        }) }}
			{{ form_label(form.metaKey, null, {
    'label': 'Définissez le nom de la meta',
    'id': 'metaKey'
        }) }}
		</div>
	</div>
	<div class="col">
		<div class="form-floating mb-3">
			{{ form_widget(form.metaValue, {
            'attr': {'class': 'form-control'},
            'id': "metaValue",
            }) }}
			{{ form_label(form.metaValue, null, {
        'label': 'Définissez sa valeur',
        'id': 'metaValue'
            }) }}
		</div>
	</div>
</div>

<div>
	{{ form_label(form.overlayId, null, {
    'label': 'Merci de sélectionner les overlays :',
    'label_attr': {'class': 'form-label select-label'},
    }) }}
	{{ form_widget(form.overlayId, {
        'attr': {
            'class': 'selectpicker form-control',
            'data-max-options': 7
            },
        }) }}
</div>


<button class="btn btn-success">
	<span class="iconify" data-icon="fluent:save-arrow-right-20-filled"></span>
	{{ button_label|default('Créer la metadonnée') }}</button>
{{ form_end(form) }}
