{% extends 'base.html.twig' %}

{% block title %}Editer la métadonnée "{{meta_overlay.metaKey is defined ? meta_overlay.metaKey : ""}}"
{% endblock %}

{% block body %}

	<h1>
		Vous éditez la métadonnée :
		{{meta_overlay.metaKey is defined ? meta_overlay.metaKey : ""}}
	</h1>

	{{ include('meta_overlays/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	<a href="{{ path('app_meta_overlays_index') }}">Retourner sur la liste</a>

	{{ include('meta_overlays/_delete_form.html.twig') }}
{% endblock %}
