{% extends 'base.html.twig' %}

{% block title %}Détail de la métadonnée "{{meta_overlay.metaKey is defined ? meta_overlay.metaKey : ""}}"
{% endblock %}

{% block body %}
	<h1>Détail de la métadonnée "{{meta_overlay.metaKey is defined ? meta_overlay.metaKey : ""}}"</h1>

	<table class="table">
		<tbody>
			{% if is_granted('ROLE_ADMIN') %}
				<tr>
					<th>Id</th>
					<td>{{ meta_overlay.id }}</td>
				</tr>
			{% endif %}
			<tr>
				<th>Clé</th>
				<td>{{ meta_overlay.metaKey }}</td>
			</tr>
			<tr>
				<th>Valeur</th>
				<td>{{ meta_overlay.metaValue }}</td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-dark" href="{{ path('app_meta_overlays_index') }}">
		<span class="iconify" data-icon="akar-icons:arrow-back-thick"></span>
		Retour à la liste</a>

	<a class="btn btn-light" href="{{ path('app_meta_overlays_edit', {'id': meta_overlay.id}) }}">
		<span class="iconify" data-icon="akar-icons:edit"></span>
		Editer</a>

	{{ include('meta_overlays/_delete_form.html.twig') }}
{% endblock %}
