{{ form_start(form_bottombar_marquee, {'name': "test"}) }}

{% if form_errors(form_bottombar_marquee) %}
	<div class="alert alert-danger" role="alert">
		{{ form_errors(form_bottombar_marquee) }}
	</div>
{% endif %}


	<div class="input-grp">
		<h3>Texte défilant</h3>
		<p>Renseignez un court texte qui défilera dans la "Bottombar".</p>
		<div class="form-floating mb-3">
			{{ form_widget(form_bottombar_marquee.MetaValue, {
        'attr': {'class': 'form-control', 'onChange': 'test()'},
        }) }}
			{{ form_label(form_bottombar_marquee.MetaValue, null, {
    'label': 'Définissez la valeur de votre métadonnée',
        }) }}

			{{ form_widget(form_bottombar_marquee.MetaKey, {
        'attr': {'class': 'display_none'},
        }) }}
			{{ form_label(form_bottombar_marquee.MetaKey, null, {
    'label_attr': {'class': 'display_none'},
    }) }}
		</div>
			<button class="btn btn-success btn-full">
				<span class="iconify" data-icon="fluent:save-arrow-right-20-filled"></span>
				{{ button_label|default('Créer la métadonnée') }}</button>
	</div>
	{{ form_widget(form_bottombar_marquee.Widgets, {
												'attr': {'class': 'display_none'},
												'id': "Widgets",
												}) }}
	{{ form_label(form_bottombar_marquee.Widgets, null, {
								    'label_attr': {'class': 'display_none'},
												}) }}


{{ form_label(form_bottombar_marquee.userId, null, {
    'label_attr': {'class': 'display_none'},
    }) }}
{{ form_widget(form_bottombar_marquee.userId, {
        'attr': {
            'class': 'display_none',
            },
        }) }}
								
{{ form_end(form_bottombar_marquee) }}
