{{ form_start(form_tweet_hashtag, {'name': "test"}) }}

{% if form_errors(form_tweet_hashtag) %}
	<div class="alert alert-danger" role="alert">
		{{ form_errors(form_tweet_hashtag) }}
	</div>
{% endif %}

	<div class="input-grp">
		<h3>Hashtag à suivre</h3>
		<p>Renseignez un #Hashtag à suivre sans le "#".</p>
		<div class="form-floating mb-3">
			{{ form_widget(form_tweet_hashtag.MetaValue, {
        'attr': {'class': 'form-control'},
        }) }}
			{{ form_label(form_tweet_hashtag.MetaValue, null, {
    'label': 'Définissez la valeur de votre métadonnée',
        }) }}

			{{ form_widget(form_tweet_hashtag.MetaKey, {
        'attr': {'class': 'display_none'},
        }) }}
			{{ form_label(form_tweet_hashtag.MetaKey, null, {
    'label_attr': {'class': 'display_none'},
    }) }}
		</div>
			<button class="btn btn-success btn-full">
				<span class="iconify" data-icon="fluent:save-arrow-right-20-filled"></span>
				{{ button_label|default('Créer la métadonnée') }}</button>
	</div>
	{{ form_widget(form_tweet_hashtag.Widgets, {
												'attr': {'class': 'display_none'},
												'id': "Widgets",
												}) }}
	{{ form_label(form_tweet_hashtag.Widgets, null, {
								    'label_attr': {'class': 'display_none'},
												}) }}


{{ form_label(form_tweet_hashtag.userId, null, {
    'label_attr': {'class': 'display_none'},
    }) }}
{{ form_widget(form_tweet_hashtag.userId, {
        'attr': {
            'class': 'display_none',
            },
        }) }}

{{ form_end(form_tweet_hashtag) }}
