<section id="versus">
	<div
		id="versuscontainer" class="{{widget.WidgetVisible ? "container_versus" : "display_none"}}">
		{# <div id="top_versus" class="display_none"></div> #}
		{% if event.currentGame.gameIdTeamAlpha.teamLogo is not null %}
			<div id="leftversus" class="display_none">
				<img style="width: 100%;max-width: 150px;max-height: 150px;" src="{{ asset('uploads/logos/' ~ event.currentGame.gameIdTeamAlpha.teamLogo) }}" alt="Logo de {{ event.currentGame.gameIdTeamAlpha.teamName }}">
			</div>
		{% else %}
			<h3 id="leftversus" class="display_none">
				{{event.currentGame.gameIdTeamAlpha.teamName|slice(0,2)|replace({' ': ''})}}
			</h3>
		{% endif %}
		<div id="centerversus" class="display_none">
			<div class="logo_event">
				{% if event is defined %}
					<img src="{{ 'http' in event.eventLogo ? event.eventLogo : asset('uploads/logos/' ~ event.eventLogo) }}" alt="Logo de l'événement">
				{% else %}
					<img src="https://cdn.artaic.fr/stream_cave/img/logo_streamcave.svg" alt="Logo de l'événement">
				{% endif %}
			</div>
			<span class="title_event">
				LouvardGame 2022
			</span>
			<span class="phase_event">
				{% if topbar_title is defined and topbar_title is not null %}
					{{topbar_title[0].metaValue}}
					{% else %}

				{% endif %}
			</span>
		</div>
		{% if event.currentGame.gameIdTeamBeta.teamLogo is not null %}
			<div id="rightversus" class="display_none">
				<img style="width: 100%;max-width: 150px;max-height: 150px;" src="{{ asset('uploads/logos/' ~ event.currentGame.gameIdTeamBeta.teamLogo) }}" alt="Logo de {{ event.currentGame.gameIdTeamBeta.teamName }}">
			</div>
		{% else %}
			<h3 id="rightversus" class="display_none">
				{{event.currentGame.gameIdTeamBeta.teamName|slice(0,2)|replace({' ': ''})}}
			</h3>
		{% endif %}
	</div>
	<div id="video_versus" data-id="auto_off_{{widget.WidgetId.libWidgetId}}" data-map="{{event is defined ? event.currentGame.currentMap : ''}}" data-wid="{{widget.id}}" data-widgetid="{{widget.WidgetId.id}}" data-libid="{{widget.WidgetId.libWidgetId}}" data-idoverlay="{{overlay.id}}"></div>
</section>
