<section id="versus">
	<div id="versuscontainer" class="{{widget.WidgetVisible ? "container_versus" : "display_none"}}">
		<div id="top_versus" class="display_none"></div>
		<h3 id="leftversus" class="display_none">
			FAZ
		</h3>
		<div id="centerversus" class="display_none">
			<div class="logo_event">
				<img src="https://www.louvardgame.be/images/public/logo.png" alt="">
			</div>
			<span class="title_event">
				LouvardGame 2022
			</span>
			<span class="phase_event">
				Semi-final
			</span>
		</div>
		<h3 id="rightversus" class="display_none">
			RGE
		</h3>
	</div>
	<div id="video_versus" data-id="auto_off_{{widget.WidgetId.libWidgetId}}" data-map="{{event.currentGame.currentMap}}" data-wid="{{widget.id}}" data-widgetid="{{widget.WidgetId.id}}" data-libid="{{widget.WidgetId.libWidgetId}}" data-idoverlay="{{overlay.id}}"></div>
</section>
